<div class="container-small-card">

    <div class="container-small-card-content">
        <div class="small-card-photo">
            <img
                src="https://sm.ign.com/t/ign_br/news/w/we-want-to/we-want-to-save-this-job-inside-the-marvel-vfx-workers-fight_sa6y.1280.jpg">
        </div>
        <div class="small-card-title">
            <h2>
                <a href="#">
                    Saiu a nova versão do Angular
                </a>
            </h2>
        </div>
    </div>
     
    <div class="container-small-card-separator">
        <hr />
    </div>


</div>